body {
  padding-top: 55px;
}
.form-control:invalid {
  border: 1px solid #cc0000;
}
.background {
  border-radius: 4px;
  background-color: rgba(77, 168, 243, 0.1);
}
.tamanhos output {
  display: inline-block;
  height: 44px;
  width: 44px;
  line-height: 44px;
  text-align: center;
  border: 3px solid #666;
  border-radius: 50%;
  color: #555;
}
